<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <ul>
        <li v-for="(cor,i) in cores" :key='cor' >{{i}}) {{cor}}</li>
    </ul>
    <button @click="cores.push('branca')">Add</button>
    <hr>
    <ul v-for="pessoa in pessoas">
        <li>Nome:{{pessoa.nome}} Idade:{{pessoa.idade}}</li>
    </ul>
    <span v-for="n in 100">{{n}}</span>

    

</div>


<script>    
    new Vue({
        el:"#app",
        data:{
            cores:['vermelho','verde','amarelo'],
            pessoas:[
                {nome:"Ana",idade:26,peso:60},
                {nome:"Ana1",idade:2,peso:61},
                {nome:"Ana1",idade:21,peso:62},
        ]
        }
    });

</script>
<style> 
    ul{
        list-style: none;
    }
</style>