<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <button @click="exibir = !exibir">Alternar</button>
    <div v-if="exibir">Voce quer me ver...</div>
    <div v-else>...ou eu</div>

    <div v-show="exibir">Voce quer me ver...</div>
    <div v-show="!exibir">...ou eu</div>

    <ul>
        <li v-for="(cor,i) in cores"> Cor:{{cor}}| Index:{{i}} </li>
    </ul>

    <span v-for="(value,name) in livro">{{name}}:{{value}}</span>
    
    <ul>
        <li v-for="aluno in alunos">Nome {{aluno.nome}}|Idade:{{aluno.idade}}
            <span v-if="aluno.notas.length > 0">
                <ul>
                    <li v-for="m in aluno.notas">Materia:{{m.materia}} | Nota: {{m.nota}}</li>
                </ul>
            </span>
        </li>
        
    </ul>
</div>


<script>    
    new Vue({
        el:"#app",
        data:{
            livro:{
                titulo:'Teste 1',
                autor:'JRR',
                volume:3
            },
            alunos:[
                {nome:"Maria 2",idade:29,notas:[{materia:"Matematica",nota:10},{materia:"Portugués",nota:9}]},
                {nome:"Maria 3",idade:39,notas:[]},
                {nome:"Maria 4",idade:49,notas:[{materia:"Matematica",nota:10},{materia:"Portugués",nota:9}]},
            ],
            exibir:false,
            showT:false,
            cores:["red","green","black","yellow"]
        },
        methods:{
            mostrar(){
                this.exibir = !this.exibir
                this.showT =!this.exibir
            }
        }
    });

</script>
<style> 

</style>