<div>
    <div ng-repeat="choice in choices">

        <form class="form-inline" style="padding-top:5px">
            <div class="form-group mx-sm-4 mb-4">
                <input class="form-control " type="text" ng-modal="choice" name="" ng-model="choice.nome" placeholder="Digite o nome do campo" value="{{choice.nome}}">
            </div>
            <div class="form-group mx-sm-4 mb-4">
                <select class="form-control" style="width:160px!important" >
                    <option ng-repeat="type in types" id="{{type.value}}" value="{{type.value}}" ng-selected="{{type.value == choice.tipo}}" label="{{type.text}}">{{type.text}}</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <button class="btn btn-primary" ng-show="showAddChoice(choice)" ng-click="addNewChoice()">Add Campo</button>
            </div>
            <div class="form-group mx-sm-2 mb-2">
                <button class="btn btn-primary" ng-click="removeNewChoice()">Remove Campo</button>
            </div>
        </form>
    </div>
    <hr />
</div>


